<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Basic eCharts | Equation - Multipurpose Bootstrap Dashboard Template </title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='default/ltr/assets/img/favicon.ico') }}"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="{{ url_for('static', filename='default/ltr/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='default/ltr/assets/css/plugins.css') }}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
</head>
<style>
    #chartdiv {
  width: 100%;
  height: 500px;
}
#chartdiv1 {
  width: 100%;
  height: 500px;
}
    </style>
</style>
<body>
    <!-- Tab Mobile View Header -->
    <!-- <header class="tabMobileView header navbar fixed-top d-lg-none">
        <div class="nav-toggle">
                <a href="javascript:void(0);" class="nav-link sidebarCollapse" data-placement="bottom">
                    <i class="flaticon-menu-line-2"></i>
                </a>
            <a href="index.html" class=""> <img src="assets/img/logo-3.png" class="img-fluid" alt="logo"></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="nav-item d-lg-none">
                <form class="form-inline justify-content-end" role="search">
                    <input type="text" class="form-control search-form-control mr-3">
                </form>
            </li>
        </ul>
    </header> -->
    <!-- Tab Mobile View Header -->
        <!--  BEGIN CONTENT PART  -->
        <div id="content" class="main-content">
            <div class="container">
                <!-- <div class="page-header">
                    <div class="page-title">
                        <h3>Basic</h3>
                        <div class="crumbs">
                            <ul id="breadcrumbs" class="breadcrumb">
                                <li><a href="index.html"><i class="flaticon-home-fill"></i></a></li>
                                <li><a href="#">Charts</a></li>
                                <li><a href="#">eCharts</a></li>
                                <li class="active"><a href="#">Basic</a> </li>
                            </ul>
                        </div>
                    </div>
                </div> -->

                <div class="row layout-spacing">
                    <div class="col-lg-12">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>Basic Column Chart</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content widget-content-area">
                                <div class="row">
                                    <div class="col-lg-12 mb-4">
                                        <div id="basic_chart" class="" style="height:400px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-12 layout-spacing">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Speedometer</h4>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content widget-content-area">
                            <div class="row">
                                <div class="col-lg-12 mb-4">
                                    <div id="chartdiv"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row layout-spacing">
                    <div class="col-lg-12">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>Calories burned</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content widget-content-area">
                                <div class="row">
                                    <div class="col-lg-12 mb-4">
                                        <div id="chartdiv1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row  layout-spacing">
                    <div class="col-lg-12">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>Timeline Chart</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content widget-content-area">
                                <div class="row">
                                    <div class="col-lg-12 mb-4">
                                        <div id="timeline" class="" style="height:400px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  END CONTENT PART  -->
    </div>


        <!-- Resources -->
        <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

        <!-- Chart code -->
        <script>
      am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("chartdiv1", am4charts.PieChart3D);
chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

chart.legend = new am4charts.Legend();

chart.data = [
  {
    country: "Walking",
    litres: 1250
  },

  {
    country: "Running",
    litres: 2000
  }
];

var series = chart.series.push(new am4charts.PieSeries3D());
series.dataFields.value = "litres";
series.dataFields.category = "country";
        </script>


        <script>

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// create chart
var chart = am4core.create("chartdiv", am4charts.GaugeChart);
chart.hiddenState.properties.opacity = 0;

var axis = chart.xAxes.push(new am4charts.ValueAxis());
axis.min = 0;
axis.max = 50;
axis.strictMinMax = true;
axis.renderer.inside = true;
//axis.renderer.ticks.template.inside = true;
//axis.stroke = chart.colors.getIndex(3);
axis.renderer.radius = am4core.percent(97);
//axis.renderer.radius = 80;
axis.renderer.line.strokeOpacity = 1;
axis.renderer.line.strokeWidth = 5;
axis.renderer.line.stroke = chart.colors.getIndex(0);
axis.renderer.ticks.template.disabled = false
axis.renderer.ticks.template.stroke = chart.colors.getIndex(0);
axis.renderer.labels.template.radius = 35;
axis.renderer.ticks.template.strokeOpacity = 1;
axis.renderer.grid.template.disabled = true;
axis.renderer.ticks.template.length = 10;
axis.hiddenState.properties.opacity = 1;
axis.hiddenState.properties.visible = true;
axis.setStateOnChildren = true;
axis.renderer.hiddenState.properties.endAngle = 180;

var axis2 = chart.xAxes.push(new am4charts.ValueAxis());


var hand = chart.hands.push(new am4charts.ClockHand());
hand.fill = axis.renderer.line.stroke;
hand.stroke = axis.renderer.line.stroke;
hand.axis = axis;
hand.pin.radius = 14;
hand.startWidth = 10;



setInterval(function() {
  hand.showValue({{ speed }}, 1000, am4core.ease.cubicOut);
  label.text = Math.round(hand.value).toString();
  hand2.showValue(Math.random() * 160, 1000, am4core.ease.cubicOut);
  label2.text = Math.round(hand2.value).toString();
}, 2000);

var legend = new am4charts.Legend();
legend.isMeasured = false;
legend.y = am4core.percent(100);
legend.verticalCenter = "bottom";
legend.parent = chart.chartContainer;
legend.data = [{
  "name": "Speed",
  "fill": chart.colors.getIndex(0)
}, ];

legend.itemContainers.template.events.on("hit", function(ev) {
  var index = ev.target.dataItem.index;

  if (!ev.target.isActive) {
    chart.hands.getIndex(index).hide();
    chart.xAxes.getIndex(index).hide();
    labelList.getIndex(index).hide();
  }
  else {
    chart.hands.getIndex(index).show();
    chart.xAxes.getIndex(index).show();
    labelList.getIndex(index).show();
  }
});

var labelList = new am4core.ListTemplate(new am4core.Label());
labelList.template.isMeasured = false;
labelList.template.background.strokeWidth = 2;
labelList.template.fontSize = 25;
labelList.template.padding(10, 20, 10, 20);
labelList.template.y = am4core.percent(50);
labelList.template.horizontalCenter = "middle";

var label = labelList.create();
label.parent = chart.chartContainer;
label.x = am4core.percent(40);
label.background.stroke = chart.colors.getIndex(0);
label.fill = chart.colors.getIndex(0);
label.text = "0";
        </script>

        <!-- HTML -->


    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{{ url_for('static', filename='default/ltr/assets/js/libs/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='default/ltr/bootstrap/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='default/ltr/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='default/ltr/plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ url_for('static', filename='default/ltr/plugins/blockui/jquery.blockUI.min.js') }}"></script>
    <script src="{{ url_for('static', filename='default/ltr/assets/js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/charts/amcharts/amcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/charts/amcharts/radar.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/charts/amcharts/polarScatter.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/charts/amcharts/gauge.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/charts/amcharts/light.js') }}"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/responsive/responsive.min.js"></script>

    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="assets/js/custom.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ url_for('static', filename='default/ltr/plugins/charts/echarts/basic-charts/echarts_basic.js') }}"></script>
    <script src="{{ url_for('static', filename='default/ltr/plugins/charts/echarts/echarts.js') }}"></script>
    <script src="{{ url_for('static', filename='default/ltr/plugins/charts/echarts/basic-charts/timelineOption.js') }}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->

    <!--  BEGIN CUSTOM STYLE FILE  -->
    <script src="{{ url_for('static', filename='default/ltr/plugins/charts/echarts/basic-charts/echarts_basic_script.js') }}"></script>
    <script>
        // Initialize after dom ready
        var chartThermo = echarts.init(document.getElementById('thermo_chart'));

        option = {

            tooltip : {
                trigger: 'axis',
                axisPointer : {          //--- Axis indicator, coordinate trigger effective
                    type : 'shadow'        // ：'line' | 'shadow' --- The default is a straight line, select: 'line' | 'shadow'
                },
                formatter: function (params){
                    return params[0].name + '<br/>'
                           + params[0].seriesName + ' : ' + params[0].value + '<br/>'
                           + params[1].seriesName + ' : ' + (params[1].value + params[0].value);
                }
            },
            legend: {
                selectedMode:false,
                data:['Acutal', 'Forecast']
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : ['Cosco','CMA','APL','OOCL','Wanhai','Zim']
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    boundaryGap: [0, 0.1]
                }
            ],
            series : [
                {
                    name:'Acutal',
                    type:'bar',
                    stack: 'sum',
                    barCategoryGap: '50%',
                    itemStyle: {
                        normal: {
                            color: '#18d17f',
                            barBorderColor: '#18d17f',
                            barBorderWidth: 6,
                            barBorderRadius:0,
                            label : {
                                show: true, position: 'insideTop'
                            }
                        }
                    },
                    data:[260, 200, 220, 120, 100, 80]
                },
                {
                    name:'Forecast',
                    type:'bar',
                    stack: 'sum',
                    itemStyle: {
                        normal: {
                            color: '#fff',
                            barBorderColor: '#18d17f',
                            barBorderWidth: 6,
                            barBorderRadius:0,
                            label : {
                                show: true,
                                position: 'top',
                                formatter: function (params) {
                                    for (var i = 0, l = option.xAxis[0].data.length; i < l; i++) {
                                        if (option.xAxis[0].data[i] == params.name) {
                                            return option.series[0].data[i] + params.value;
                                        }
                                    }
                                },
                                textStyle: {
                                    color: '#18d17f'
                                }
                            }
                        }
                    },
                    data:[40, 80, 50, 80,80, 70]
                }
            ]
        };

        // Load data into the ECharts instance
        chartThermo.setOption(option);

        $(window).on('resize', function(){
            if(chartThermo != null && chartThermo != undefined){
                chartThermo.resize();
            }
        });








        var chartBasic = echarts.init(document.getElementById('basic_chart'));

option = {
            tooltip : {
                trigger: 'axis'
            },
            color : [ "#6156ce", "#ee3d50"],
            legend: {
                data:['Walking','Running']
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug']
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'Walking',
                    type:'bar',
                    // data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
                    data:{{context['data']|tojson}},
                    markPoint : {
                        data : [
                            {type : 'max', name: 'The maximum value'},
                            {type : 'min', name: 'Minimum value'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: 'average value'}
                        ]
                    }
                },
                {
                    name:'Running',
                    type:'bar',
                    data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
                    markPoint : {
                        data : [
                            {name : 'The highest year', value : 182.2, xAxis: 7, yAxis: 183, symbolSize:18},
                            {name : 'Year minimum', value : 2.3, xAxis: 11, yAxis: 3}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name : 'average value'}
                        ]
                    }
                }
            ]
        };

// Load data into the ECharts instance
chartBasic.setOption(option);

    $(window).on('resize', function(){
    if(chartBasic != null && chartBasic != undefined){
        chartBasic.resize();
    }
});
    </script>
    <!--  END CUSTOM STYLE FILE  -->


</body>
</html>