<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="5" />
    <title>Counter | Equation - Multipurpose Bootstrap Dashboard Template </title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='default/ltr/assets/img/favicon.ico') }}"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="{{ url_for('static', filename='default/ltr/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='default/ltr/assets/css/plugins.css') }}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="{{ url_for('static', filename='default/ltr/assets/css/components/custom-counter.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='ctimer.css') }}" rel="stylesheet" type="text/css">
    <!--  END CUSTOM STYLE FILE  -->

</head>
<body>
    <!-- Tab Mobile View Header -->
    <header class="tabMobileView header navbar fixed-top d-lg-none">
        <div class="nav-toggle">
                <a href="javascript:void(0);" class="nav-link sidebarCollapse" data-placement="bottom">
                    <i class="flaticon-menu-line-2"></i>
                </a>
            <a href="index.html" class=""> <img src="{{ url_for('static', filename='default/ltr/assets/img/logo-3.png') }}" class="img-fluid" alt="logo"></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="nav-item d-lg-none"> 
                <form class="form-inline justify-content-end" role="search">
                    <input type="text" class="form-control search-form-control mr-3">
                </form>
            </li>
        </ul>
    </header>
    <!-- Tab Mobile View Header -->

    

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">
        <div class="overlay"></div>
        <div class="cs-overlay"></div>

        <!--  BEGIN CONTENT PART  -->
        <div id="content" class="main-content">
            <div class="container">                
                <div class="row">

                    <div class="col-lg-12 layout-spacing">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>Circle</h4>
                                    </div>                 
                                </div>
                            </div>
                            <div class="widget-content widget-content-area text-center circle-counter-container">
                                <div class="row mb-5">
                                    {{g.simple()}}
                                    <div id="ctimer"></div>
                                </div>
                            </div>
                            <!-- <div class="widget-content widget-content-area text-center circle-counter-container">
                                <div class="row mb-5">
                                    <div class="col-xl-3 col-lg-3 mb-md-0 mb-4 col-md-3 col-sm-6">
                                        <div class="circle-counter mx-auto">
                                            <h1 class="c-counter1 c-counter">13739</h1>
                                            <p class="c-counter-text">CODE LINES</p>
                                        </div>
                                    </div>
                                    
                                    <div class="col-xl-3 col-lg-3 mb-md-0 mb-4 col-md-3 col-sm-6">
                                        <div class="circle-counter mx-auto">
                                            <h1 class="c-counter2 c-counter">3200</h1>
                                            <p class="c-counter-text">HOURS</p>
                                        </div>
                                    </div>
                                    
                                    <div class="col-xl-3 col-lg-3 mb-sm-0 mb-4 col-md-3 col-sm-6">
                                        <div class="circle-counter mx-auto">
                                            <h1 class="c-counter3 c-counter">915</h1>
                                            <p class="c-counter-text">TICKETS</p>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                        <div class="circle-counter mx-auto">
                                            <h1 class="c-counter4 c-counter">580</h1>
                                            <p class="c-counter-text">CUSTOMERS</p>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--  END CONTENT PART  -->

    </div>
    <!-- END MAIN CONTAINER -->
    
    

    
    
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <script src="{{ url_for('static', filename='default/ltr/assets/js/libs/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='default/ltr/bootstrap/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='default/ltr/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='default/ltr/plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ url_for('static', filename='default/ltr/plugins/blockui/jquery.blockUI.min.js') }}"></script>
    <script src="{{ url_for('static', filename='default/ltr/assets/js/app.js') }}"></script>
    
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="{{ url_for('static', filename='default/ltr/assets/js/custom.js') }}"></script>
    <!-- END GLOBAL MANDATORY STYLES -->
    
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ url_for('static', filename='default/ltr/plugins/counter/jquery.countTo.js') }}"></script>
    <script src="{{ url_for('static', filename='ctimer.js') }}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
        
    <!--  BEGIN CUSTOM SCRIPTS FILE  -->
    <script src="{{ url_for('static', filename='default/ltr/assets/js/components/custom-counter.js') }}"></script>
    <!--  END CUSTOM SCRIPTS FILE  -->
</body>
</html>